<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gdou.dao.DefaultResultMapper">
  <resultMap id="BaseResultMap" type="org.gdou.model.po.DefaultResult">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="score_start" jdbcType="DOUBLE" property="scoreStart" />
    <result column="score_end" jdbcType="DOUBLE" property="scoreEnd" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.gdou.model.po.DefaultResult">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, paper_id, score_start, score_end
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from default_result
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getResultByScore" resultType="java.lang.String">
      SELECT
      description
      FROM
      default_result
      WHERE
      score_start <![CDATA[ < ]]> #{param2}
      AND score_end <![CDATA[ >= ]]> #{param2}
      AND paper_id= #{param1}


    </select>
    <select id="listResultsByPaperId" resultType="org.gdou.model.po.DefaultResult" resultMap="BaseResultMap">
      SELECT
          *
      FROM
          default_result
      WHERE
          paper_id = #{value}
    </select>
  <select id="scoreCheck" resultType="java.lang.Integer">
    SELECT count(*) FROM default_result r
    where
    (
    (#{scoreStart} <![CDATA[ >= ]]>  r.score_start AND #{scoreEnd} <![CDATA[ <= ]]>  r.score_end )
    OR ( #{scoreStart} <![CDATA[ < ]]>  r.score_end AND #{scoreEnd} <![CDATA[ > ]]>  r.score_end )
    OR ( #{scoreStart} <![CDATA[ < ]]> r.score_start AND #{scoreEnd} <![CDATA[ > ]]> r.score_start)
    OR ( #{scoreStart} <![CDATA[ < ]]>  r.score_start AND #{scoreEnd} <![CDATA[ > ]]> r.score_end )
    )
    <if test="id != null">
      and id != #{id}
    </if>
    and paper_id = #{paperId}




  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from default_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.gdou.model.po.DefaultResult">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into default_result (id, paper_id, score_start, 
      score_end, description)
    values (#{id,jdbcType=INTEGER}, #{paperId,jdbcType=INTEGER}, #{scoreStart,jdbcType=DOUBLE}, 
      #{scoreEnd,jdbcType=DOUBLE}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.gdou.model.po.DefaultResult">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into default_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="scoreStart != null">
        score_start,
      </if>
      <if test="scoreEnd != null">
        score_end,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="scoreStart != null">
        #{scoreStart,jdbcType=DOUBLE},
      </if>
      <if test="scoreEnd != null">
        #{scoreEnd,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.gdou.model.po.DefaultResult">
    update default_result
    <set>
      <if test="paperId != null">
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="scoreStart != null">
        score_start = #{scoreStart,jdbcType=DOUBLE},
      </if>
      <if test="scoreEnd != null">
        score_end = #{scoreEnd,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.gdou.model.po.DefaultResult">
    update default_result
    set paper_id = #{paperId,jdbcType=INTEGER},
      score_start = #{scoreStart,jdbcType=DOUBLE},
      score_end = #{scoreEnd,jdbcType=DOUBLE},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.gdou.model.po.DefaultResult">
    update default_result
    set paper_id = #{paperId,jdbcType=INTEGER},
      score_start = #{scoreStart,jdbcType=DOUBLE},
      score_end = #{scoreEnd,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>